<nav>

</nav>

<h1>Order Of The Phoenix Members From House <%= @house %></h1>
<%= link_to "â† New Search", root_path %>
<h2>Known Order Of The Phoenix Members: <%= @members.size %></h2><br>
<section class="members">
  <h3>Member Details:</h3>
  <% @members.each do |member| %>
  <section class="phoenix-member">
    <hr/>
    <h4 class="phoenix-member-name"><%= member.name %></h4>
    <p class="phoenix-member-role">Role:
      <% if member.role %>
        <%= member.role %>
      <% else %>
        Unknown
      <% end %>
    </p>
    <p class="phoenix-member-house">House: <%= member.house %></p>
    <p class="phoenix-member-patronus">Patronus:
      <% if member.patronus %>
        <%= member.patronus %>
      <% else %>
        Unknown
      <% end %>
    </p>
  </section>
  <% end %>
</section>
