<h1>Order Of The Phoonix Members From House Gryffindor</h1>

<h2>Order Of The Phoenix Members: <%= @members.size %></h2>
<section class="members"
  <h3>Known Member Details</h3>
  <% @members.each do |member| %>
  <section class="phoenix-member">
    <p class="phoenix-member-name"><%= member.name %></p>
    <p class="phoenix-member-role"><%= member.role %></p>
    <p class="phoenix-member-house"><%= member.house %></p>
    <p class="phoenix-member-patronus"><%= member.patronus %></p>
  </section>
  <% end %>
</section>
